*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: sans-serif;
  background-color: #011526;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  body {
    background: linear-gradient(to right, #011526, #042035, #062c44, #083853, #094563);
  }
}
